  <!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="/img/logoWhite.png" alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="/img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <p>Copyright <%= new Date().getFullYear() %> All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>

<style>
    .footer {
        background-color: #111111;
        padding: 70px 0;
        margin-top: 50px;
    }
    .footer__about {
        margin-bottom: 30px;
    }
    .footer__about p {
        color: #b7b7b7;
        margin-bottom: 20px;
    }
    .footer__logo {
        margin-bottom: 20px;
    }
    .footer__widget {
        margin-bottom: 30px;
    }
    .footer__widget h6 {
        color: #ffffff;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .footer__widget ul li {
        list-style: none;
        margin-bottom: 10px;
    }
    .footer__widget ul li a {
        color: #b7b7b7;
        transition: all 0.3s;
    }
    .footer__widget ul li a:hover {
        color: #ffffff;
    }
    .footer__newslatter {
        color: #b7b7b7;
    }
    .footer__newslatter p {
        margin-bottom: 20px;
    }
    .footer__newslatter form {
        position: relative;
        margin-bottom: 30px;
    }
    .footer__newslatter form input {
        width: 100%;
        height: 40px;
        border: none;
        padding-left: 20px;
        background: #303030;
        color: #b7b7b7;
    }
    .footer__newslatter form button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 0 15px;
        border: none;
        background: #a1ca40;
        color: #ffffff;
    }
    .footer__copyright__text {
        color: #b7b7b7;
        margin-top: 25px;
    }
</style>